:root {
  --main-color: #01b768;
  --btn-text-color: #0d0d0d;
  --backg-color: #090909;
}
html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  padding-top: 103px;
  position: relative;
}
