.art-container {
  margin-top: 70px;
  /* border: 5px solid peru; */
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  height: 95vh;
}

.art-one {
  /* border: 2px solid red; */
  min-height: 70vh;
  width: 100%;
}
.art-two {
  /* border: 2px solid blue; */
  min-height: 30vh;
  width: 99%;
}

.timer-container {
  /* border: 2px solid red; */
  height: 200px;
  width: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.084);
}
.hero-title {
  font-size: 5vw;
  text-align: center;
}
.hero-description {
  font-size: 3vw;
  text-align: center;
  margin: 5px 0px 15px 0px;
}

.hero-text-container {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.art-one button {
  font-size: 2em;
  margin-top: 15px;
}

.time {
  text-align: center;
  padding: 0px 60px;
  font-size: 2vw;
}
