.art-container {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.art-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.timer-container {
  /* border: 2px solid red; */
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hero-title {
  font-size: 1.5em;
  text-align: center;
}
.hero-description {
  font-size: 1.1em;
  text-align: center;
  margin: 5px 0px 15px 0px;
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rebeccapurple;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .img-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  margin: 20px;
}
.grid-item img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  object-position: center;
}
