.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--backg-color);

  color: white;
  max-height: 60px;
}

.nav-elements ul {
  display: flex;
}

.nav-elements ul a {
  text-decoration: none;
}

.nav-elements ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  color: white;
  transition: all ease-in-out 0.2s;
  font-size: 2em;
}

.nav-elements ul li:hover {
  color: var(--main-color);
}

.sign-up-btn {
  background-color: #01b768;
  border: 1px solid var(--main-color);
  padding: 7px 14px;
  border-radius: 30px;
  color: var(--btn-text-color);
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  font-size: 0.8em;
}
.sign-up-nav {
  font-size: 1.4em;
  align-self: center;
  /* border: 1px solid red; */
}
.sign-up-nav:hover {
  background-color: red;
}

.sign-up-btn:hover {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
  font-weight: bolder;
}

.logo a {
  text-decoration: none;
  color: white;
}
