.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--backg-color);
  min-height: 70px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* ///////////////////////////////////// */

.sign-up-btn {
  background-color: #01b768;
  border: 1px solid var(--main-color);
  padding: 7px 14px;
  border-radius: 30px;
  color: var(--btn-text-color);
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  font-size: 0.8em;
  cursor: pointer;
}
.sign-up-btn:hover {
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.nav-btn:hover {
  border: 2px solid var(--backg-color);
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.8em;
  transition: all ease-in-out 0.3s;
}
.nav-item a:hover {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .bar {
    background-color: white;
    border-radius: 5px;
  }
  .nav-btn {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -1000%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--backg-color);
    width: 100%;
    margin: 0;
    transition: all ease-in-out 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
